<p>control flow statements</p>
<div *ngIf="false">
  <h1>NgSwitch</h1>
  <h2>Selects ALL matching options</h2>

  <div [ngSwitch]="name">
    <pre *ngSwitchDefault>Default</pre>
    <div *ngSwitchCase="'Angular'">Angular</div>
    <div *ngSwitchCase="'Angular'">Angular again</div>
  </div>

  <h1>{{'@'}}switch</h1>
  <h2>Selects ONE matching options</h2>

  @switch (name) {
  @case('Angular') {
  Angular
  }
  @case('Angular') {
  Angular again
  }
  }

  @switch (color) {
  @case ("red") {
  <div>Red</div>
  }
  @case ("blue") {
  <div>Blue</div>
  }

  @default {
  <div>Default</div>
  }
  }
</div>

<div *ngIf="false">
  <div [ngPlural]="value">
    <ng-template ngPluralCase="0">
      <div>Hello</div>
    </ng-template>
    <ng-template ngPluralCase="1"> World </ng-template>
    <ng-template ngPluralCase="other">There are {{ value }} items</ng-template>
  </div>
</div>

<div *ngIf="false">
  @if (showHello) {
  <h2>Hello</h2>
  } @else if (showGoodbye) {
  <h2>Goodbye</h2>
  } @else {
  <h2>Goodbye else</h2>
  }
</div>

<div *ngIf="false">
  <ul>
    @for (color of colors; track color; let index = $index) {
    <li>{{ color }} index: {{index}}</li>
    }
  </ul>

  <ul>
    <!-- track trackCourse -->
    @for (course of courses; track course.id; let first = $first, last = $last) {
    <li>{{ course.name }}: {{ first }}: {{ last }}</li>
    }


    <ul>
      @for (item of items; track item; let count = $count) {
      <li>{{ item }} {{count}}</li>
      }
      @empty {
      <li>No items found </li>
      }
    </ul>


    <ul>
      @for (char of "Angular"; track char; let odd = $odd, even = $even) {
      <li>{{ char }} {{ odd }}: {{ even }}</li>
      }
    </ul>


  </ul>
</div>

<div *ngIf="true">
  <div>
    <p>ssr part</p>
      <!-- @defer (hydrate on viewport) {
  shopping-cart/>
} -->
</div>
  <!-- </div>
  <div>
  @defer {
    <app-large/>
  } @placeholder (minimum  500ms) {
    Placeholder
  } @loading (after 1000ms; minimum 1s) {
    <img alt="loading..." src="assets/loading.gif" />
    <app-spinner></app-spinner>
  } @error {
    Something went wrong :(
  }
</div>
  <div #container>
  @defer (on viewport(container)) {
    Content to be deferred
  } @placeholder {
    Content to display before deferred content is loaded
  } @loading {
    Content to display while deferred content is loading
  } @error {
    Content to display if an error occurs during loading
  }
  </div>

   <div>
  @defer (on immediate) {
    Content to be deferred
  } @placeholder {
    Content to display before deferred content is loaded
  } @loading {
    Content to display while deferred content is loading
  } @error {
    Content to display if an error occurs during loading
  }
  </div>

     <div>
      <div #greeting>Hello!</div>
  @defer (on interaction(greeting)) {
    greetings-cmp
    Content to be deferred
  } @placeholder {
    Content to display before deferred content is loaded
  } @loading {
    Content to display while deferred content is loading
  } @error {
    Content to display if an error occurs during loading
  }
  </div>


         <div>
  @defer (on timer(5s)) {
    Content to be deferred
  } @placeholder {
    Content to display before deferred content is loaded
  } @loading {
    Content to display while deferred content is loading
  } @error {
    Content to display if an error occurs during loading
  }
  </div>

     <div>
  @defer (on idle) {
    Content to be deferred
  } @placeholder {
    Content to display before deferred content is loaded
  } @loading {
    Content to display while deferred content is loading
  } @error {
    Content to display if an error occurs during loading
  }
  </div>

   <div>
    <div #greeting>Hello!</div>
  @defer (on hover(greeting)) {
    Content to be deferred
  } @placeholder {
    Content to display before deferred content is loaded
  } @loading {
    Content to display while deferred content is loading
  } @error {
    Content to display if an error occurs during loading
  }
  </div>
   

    <div>
      <div #greeting>Hello!</div>
  @defer (on timer(5s); on interaction(greeting)) {
    Content to be deferred
  } @placeholder (minimum 2s) {
    Content to display before deferred content is loaded
  } @loading {
    Content to display while deferred content is loading
  } @error {
    Content to display if an error occurs during loading
  }
  </div>

<div>
@defer (when isVisible;) {
    <p>Loaded</p>
 heavy-chart.component
} @placeholder {
  <p>Chart is getting ready...</p>
} @loading {
  <div class="spinner"></div>
} @error {
  <p>Could not load chart.</p>
}
</div>

<div  #container>
@defer (on timer(2s); prefetch on viewport(container)) {
  <p>Loaded</p>
  {{ 'foo' | uppercase  }}
}
</div> -->

<button (click)="isVisible = true">toggle block</button>

</div>
