<p>control flow statements</p>
<div *ngIf="false">
  <h1>NgSwitch</h1>
  <h2>Selects ALL matching options</h2>

  <div [ngSwitch]="name">
    <pre *ngSwitchDefault>Default</pre>
    <div *ngSwitchCase="'Angular'">Angular</div>
    <div *ngSwitchCase="'Angular'">Angular again</div>
  </div>

  <h1>{{'@'}}switch</h1>
  <h2>Selects ONE matching options</h2>

  @switch (name) {
  @case('Angular') {
  Angular
  }
  @case('Angular') {
  Angular again
  }
  }

  @switch (color) {
  @case ("red") {
  <div>Red</div>
  }
  @case ("blue") {
  <div>Blue</div>
  }

  @default {
  <div>Default</div>
  }
  }
</div>

<div *ngIf="false">
  <div [ngPlural]="value">
    <ng-template ngPluralCase="0">
      <div>Hello</div>
    </ng-template>
    <ng-template ngPluralCase="1"> World </ng-template>
    <ng-template ngPluralCase="other">There are {{ value }} items</ng-template>
  </div>
</div>

<div *ngIf="false">
  @if (showHello) {
  <h2>Hello</h2>
  } @else if (showGoodbye) {
  <h2>Goodbye</h2>
  } @else {
  <h2>Goodbye else</h2>
  }
</div>

<div *ngIf="false">
  <ul>
    @for (color of colors; track color; let index = $index) {
    <li>{{ color }} index: {{index}}</li>
    }
  </ul>

  <ul>
    <!-- track trackCourse -->
    @for (course of courses; track course.id; let first = $first, last = $last) {
    <li>{{ course.name }}: {{ first }}: {{ last }}</li>
    }


    <ul>
      @for (item of items; track item; let count = $count) {
      <li>{{ item }} {{count}}</li>
      }
      @empty {
      <li>No items found </li>
      }
    </ul>


    <ul>
      @for (char of "Angular"; track char; let odd = $odd, even = $even) {
      <li>{{ char }} {{ odd }}: {{ even }}</li>
      }
    </ul>


  </ul>
</div>

<div *ngIf="false">
  @defer {
    <app-large/>
  } @placeholder {
    Placeholder
  } @loading {
    Loading...
  } @error {
    Something went wrong :(
  }
</div>
